<h2>Rate these products please.</h2>
<form class="form" action="/survey/result/result" method="post">
  <?php 
  $productId = 0;
  foreach($this->getProducts() as $answer): ?>
      <p>
      <?php
        foreach($answer->getData() as $key => $value) {
          if($key == 'entity_id')
            $productId = $value;

          if($key == 'name')
            echo $value;
        }
      ?>
      </p>
    <input type="radio" name="<?php echo $productId ?>" value="1"> Huono<br>
    <input type="radio" name="<?php echo $productId ?>" value="2"> Ok<br>
    <input type="radio" name="<?php echo $productId ?>" value="3"> Hyvä<br>
  <?php endforeach; ?>

<button type="submit" class="action submit primary" title="Submit">
Submit
</button> 
 </form>